Source: gnubatch
Section: net
Priority: optional
Maintainer: John M Collins <jmc@xisl.com>
Build-Depends: debhelper (>= 7), autotools-dev, libtool, libgtk2.0-dev, libncurses-dev
Standards-Version: 3.8.0
Homepage: http://www.gnu.org/software/gnubatch

Package: gnubatch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A network-based print spooler
 This is a fast, network-enabled and reliable batch scheduler
 for GNU/Linux and UNIX systems.

Package: gnubatch-doc
Architecture: all
Section: doc
Description: Documentation for Gnubatch
 PDF documentation for Gnubatch

Package: libgnubatch-1-1
Architecture: any
Depends: ${shlibs:Depends}, gnubatch (= ${binary:Version})
Description: API development library for GNUbatch
 Consists of the static and shared API libraries and include file
